* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background: #BC8F8F;
    width: 100vw;
    height: 100vw;
    overflow-x: hidden;
}

header {
    width: 100%;
    height: 60px;
    background: #D2B48C;
    box-shadow: 2px 2px 3px #000000;
}

/*modificando la barra de navegacion*/

.navegacion {
    max-width: 100%;
    padding: 0 10px;
    margin: auto;
    float: left;
    display: flex;
    align-items: center;
    min-height: 60px;
    z-index: 1000;
}

.navegacion ul {
    list-style: none;
    padding: 0 10px;
}

.navegacion ul li {
    display: inline-block;
    position: relative;
    transition: .3s linear;
    z-index: 1000;
}

.navegacion ul li:hover {
    transform: scale(1.1);
}

.navegacion ul li a {
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    padding: 12px 20px;
    transition: .3s linear;
}

.navegacion ul li a:hover {
    color: #FF4500;
    transform: scale(1.1);
}

/*modificando info personal*/

.info-personal {
    width: 90%;
    height: 40%;
    margin: 50px 5%;
    display: flex;
    justify-content: center;
    border: 2px solid #696969;
    border-radius: 50px;
}

.info-personal .info-personal-img {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-personal-img .imgpersonal {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-personal-img .imgpersonal img {
    height: 80%;
    width: auto;
    border-radius: 40%;
}

.info-personal-img .redes {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-personal-img .redes img {
    height: 60%;
    width: auto;
    margin: 10px;
    border-radius: 30%;
}

.redes img:hover {
    transform: scale(1.1);
    transition: .4s linear;
    cursor: pointer;
}

.info-personal .info-personal-text {
    width: 60%;
    height: 100%;
}

.info-personal-text .bandera {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-personal-text .bandera img {
    height: 60%;
    width: auto;
    border-radius: 30px;
    border: 1px solid #000;
}

.info-personal-text .text {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    border-radius: 150px;
}

.info-personal-text .text p {
    width: 100%;
    font-size: 3rem;
    text-align: left;
    padding: 5px 0 0 40px;
    text-shadow: 4px 4px 3px #000000;
}

/* modificando info */

.info {
    width: 90%;
    height: 10%;
    margin: 50px 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid #000000; */
    border-radius: 10px;
}

.info a {
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info h2 {
    width: auto;
    font-size: 30px;
    color: #ffffff;
    text-shadow: 4px 4px 3px #000000;
}

.info h2:hover {
    color: #FF4500;
    cursor: default;
}

.info p {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    font-size: 19px;
    color: #ffffff;
    text-align: left;
    padding: 5px;
}

/* modificando conocimiento */

.conocimiento {
    width: 90%;
    height: 15%;
    margin: 50px 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid #000000; */
    border-radius: 10px;
}

.conocimiento a {
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.conocimiento h2 {
    width: auto;
    font-size: 30px;
    color: #ffffff;
    text-shadow: 4px 4px 3px #000000;
}


.conocimiento h2:hover {
    color: #FF4500;
    cursor: default;
}

.conocimiento .skill {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.conocimiento img {
    height: 150px;
    width: auto;
    margin: 8%;
}

.conocimiento img:hover {
    transform: scale(1.1);
    transition: .4s linear;
    cursor: pointer;
}

/* modificando contacto */

.contacto {
    width: 50%;
    height: 20%;
    margin: auto;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #000000;
    border-radius: 10px;
    background: #2F4F4F;
    opacity: .9;
}

.contacto a {
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contacto h2 {
    width: auto;
    display: inline-block;
    font-size: 30px;
    color: #ffffff;
    text-shadow: 4px 4px 3px #000000;
}

.contacto h2:hover {
    color: #FF4500;
    cursor: default;
}

.contacto form {
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
    margin-bottom: 20px;
}

input, textarea {
    width: 90%;
    margin: 5px;
    padding: 10px;
    border: 2px solid #000;
    border-radius: 7px;
    box-shadow: 3px 3px 4px #000;
}

textarea {
    max-width: 90%;
    min-width: 90%;
    max-height: 200px;
    min-height: 40px;
}

#boton:hover {
    cursor: pointer;
}

#boton:active {
    transform: scale(95%);
    transition: .1s linear;
    color: #FF00FF;
}